body {
    background-image: url("../img/fondo.jpg");
    /*background-repeat: no-repeat no se repie la imagen */
    background-repeat: no-repeat;
    /*se ajusta al ancho de la pantalla*/
    background-size: cover;
    /*ajustar al ancho y al alto de la img*/
    background-attachment: fixed;
    /*font-size: 50px;*/
    text-align: center;
    font-family: 'IM Fell English', serif;
}

header h1 {
    background-color: lightyellow;
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
}

#container {
    width: 100%;
}

#container input {
    margin: 7px;
}

#root {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#root p {
    background-color: lightyellow;
    padding: 5px;
}

.BUTTON_IQR {
    background: #B7D4F5;
    background-image: -webkit-linear-gradient(top, #B7D4F5, #1E62D0);
    background-image: -moz-linear-gradient(top, #B7D4F5, #1E62D0);
    background-image: -ms-linear-gradient(top, #B7D4F5, #1E62D0);
    background-image: -o-linear-gradient(top, #B7D4F5, #1E62D0);
    background-image: linear-gradient(to bottom, #B7D4F5, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_IQR:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}