.row form {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.651);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 600px;
    border-radius: 20px;
}

body {
    background: url('https://wallpapermemory.com/uploads/501/german-shepherd-wallpaper-1366x768-laptop-111134.jpg');
    background-repeat: no-repeat;
    /*se ajusta al ancho de la pantalla*/
    /*ajustar al ancho y al alto de la img*/
    background-attachment: fixed;
    /*font-size: 50px;*/
    background-size: cover;
}

.form-check-label a {
    color: blue;
}