#container h1 {
    /* color: saddlebrown;*/
    text-align: center;
    background-color: grey;
    border-radius: 4px;
}

#container h2 {
    color: rgb(43, 15, 221);
    background-color: steelblue;
}

#container p {
    border: 3px solid black;
}

#container table {
    border: 2px dotted black;
    width: 100%;
    border-collapse: collapse;
}

#container th,
tr,
td {
    border: 3px solid rgb(41, 131, 204);
    padding: 4px;
}