body {
    margin: 0px;
}

header,
footer {
    border: 3px double;
}

div {
    padding: 7px;
}

.titulo {
    background-color: rgb(107, 196, 89);
    border: 2px solid;
}

.principal {
    border: 3px double;
    margin: auto;
    min-height: 1000px;
    width: 900px;
}

.contenido {
    background-color: cornflowerblue;
    min-width: 100px;
    display: inline-block;
    border: 2px dotted;
}