/*herencia de */

body {
    background-image: url("../Img/fondo.jpg");
    /*background-repeat: no-repeat no se repie la imagen */
    background-repeat: no-repeat;
    /*se ajusta al ancho de la pantalla*/
    background-size: cover;
    /*ajustar al ancho y al alto de la img*/
    background-attachment: fixed;
    /*font-size: 50px;*/
    text-align: center;
    font-family: 'Scada', sans-serif;
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*top,left,bottom,rigth*/
    margin: 10px auto 10px auto;
    background-color: rgba(240, 248, 255, 0.781);
    padding: 20px;
    text-align: center;
    border-radius: 10%;
}

#header {}

#header img {
    width: 20%;
    height: auto;
    border: darkturquoise 5px dotted;
    border-radius: 30%;
    float: left;
}

#header h1 {}