.container {
    background-color: rgb(198, 225, 226);
    border: solid 3px darkblue;
    padding: 20px;
}

#image {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    padding: 10px;
    margin: 20px;
}

#paragraph {
    background-color: rgb(205, 240, 47);
    width: 300px;
    height: 300px;
    border: solid 2px black;
    padding: 10px;
    margin: 60px;
}

#video {
    background-color: rgb(253, 193, 62);
    width: 600px;
    height: 350px;
    border: solid 2px black;
    padding: 10px;
    margin: 80px;
    margin-left: 0px;
}

#listoutorder {
    background-color: rgb(218, 124, 101);
    width: 150px;
    height: 100px;
    border: solid 2px black;
    padding: 10px;
    margin: 80px;
    margin-left: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#link {
    text-align: center;
    background-color: white;
    padding: 30px;
    border: double yellowgreen 7px;
    width: 50%;
    height: 60%
}

#table {
    text-align: center;
    padding: 20px;
}

#listinorder {
    width: auto;
    height: auto;
    background-color: palegoldenrod;
    border: dotted 5px;
    margin-left: 60%
}