header {
    background-color: black;
    height: 280px;
}

header img {
    height: 60px;
}

#imgHeader {
    text-align: center;
    height: 70%;
    padding: 8%;
}

#desc {
    padding: 35px;
    background-color: rgb(224, 224, 224);
}

#desc a {
    text-decoration: none;
    color: deepskyblue;
    font-weight: bold;
}

#template {
    height: 420px;
    background-color: #B3E0E1;
    padding: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: url("https://getmdl.io/assets/templates_mo.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#template:hover {
    background-image: url("https://getmdl.io/assets/templates.svg");
}

#doubleContent {
    display: flex;
    flex-wrap: wrap;
}

#components {
    min-width: 200px;
    height: 420px;
    background-color: #E90974;
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    background-image: url("https://getmdl.io/assets/components.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#components:hover {
    background-image: url("https://getmdl.io/assets/components_mo.svg");
}

#styles {
    min-width: 200px;
    height: 420px;
    background-color: #8F4099;
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    background-image: url("https://getmdl.io/assets/styles.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#styles:hover {
    background-image: url("https://getmdl.io/assets/styles_mo.svg");
}

#customize {
    min-width: 200px;
    height: 420px;
    background-color: #191E80;
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    background-image: url("https://getmdl.io/assets/customize.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#customize:hover {
    background-image: url("https://getmdl.io/assets/customize_mo.svg");
}

#down {
    background-color: #424242;
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#down a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: rgb(158, 152, 152);
    padding: 6px;
    padding-top: 80px;
}