#container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: darkslategrey;
    padding: 3px;
}

#container h1 {
    text-align: center;
    color: floralwhite;
    font-family: 'Odibee Sans', cursive;
    font-size: 70px;
}

#calculator,
#calculator p {
    border: 5px solid floralwhite;
    color: whitesmoke;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
    padding: 6px;
}

#calculator button {
    width: 70px;
    height: 70px;
    margin: 5px;
    background: transparent;
    color: whitesmoke;
    font-size: large;
    cursor: pointer;
    border-radius: 20%;
}

#calculator .buttonS {
    border-color: yellow;
}

#calculator button:hover {
    background-color: yellowgreen;
}