#cont {
    margin-top: 5%;
    margin-bottom: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

table,
th,
td {
    border: 1px solid black;
}