body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(240, 240, 210);
}

.contactenos {
    background-color: rgb(161, 175, 98);
}

.contenido {
    box-sizing: border-box;
    padding: 7px;
    margin: 4px;
    text-align: center;
}