body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(240, 240, 210);
}

header {
    text-align: center;
    background-color: rgb(65, 134, 134);
    height: 50px;
    color: white;
    width: 100%;
}

.contactenos {
    background-color: rgb(161, 175, 98);
}

.contenido {
    box-sizing: border-box;
    padding: 7px;
    margin: 4px;
    text-align: center;
}

legend {
    text-align: center;
}